In [2]:
# 거듭제곱

var_01 = 3

print('거듭제곱 :', var_01**2)
print('거듭제곱 :', pow(var_01, 2))

거듭제곱 : 9
거듭제곱 : 9

### 파이썬 모듈을 이용한 수학계산

In [3]:
import math

In [6]:
# 거듭제곱
math.pow(var_01, 2)
# pow(var_01, 2)    #9

9.0

In [7]:
# 제곱근
math.sqrt(var_01)

1.7320508075688772

In [8]:
# sin 45
math.sin(45)

0.8509035245341184

In [11]:
# sin45의 제곱 더하기 cos45의 제곱 구하기
math.sin(45)**2 + math.cos(45)**2

1.0

In [15]:
math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

1.0

---
### 난수 발생(데이터 없을 때 사용한다)

In [16]:
import random

In [19]:
random.randint(1, 100)

51

In [25]:
# 로또 번호 생성기(range = 배열)
lotto_list = range(1, 46)
random.sample(lotto_list, 6)

[23, 2, 24, 31, 33, 28]

In [24]:
a = range(1, 11)
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
# 반올림
round(2.6)

3

In [28]:
round(2.4)

2

In [34]:
print(round(2.5))
print(round(3.5))

print(round(123.45, 1))
print(round(123.456, 2))

2
4
123.5
123.46

In [35]:
#올림
math.ceil(1.1)

2

In [36]:
math.floor(1.9)

1

In [37]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_17',
 '_18',
 '_19',
 '_20',
 '_22',
 '_23',
 '_25',
 '_26',
 '_27',
 '_28',
 '_35',
 '_36',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'get_ipython',
 'i',
 'lotto_list',
 'math',
 'open',
 'os',
 'quit',
 'random',
 'sys',
 'var_01']

### 메모리를 위해 데이터 제거(del)

In [38]:
var_01

3

In [39]:
del var_01
var_01

NameError: name 'var_01' is not defined

---
### 관계 연산자

In [40]:
num1 = 100
num2 = 20

In [42]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

In [46]:
# 논리연산자

print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [49]:
# != 안됨, (and, or, not만 사용!)
not(num1 >= 50)

False

In [50]:
#현재 디렉토리 위치 알려줌
!ls

01.Preview.ipynb             =
02.변수와 자료형.ipynb

---
### 문자열 자료형

In [51]:
var_01 = "Hello World!"
var_01

'Hello World!'

In [53]:
# 여러줄의 문자열 출력
var_01 = """
    Hello World!
    Good to meet you!
"""
var_01
# print 로 감싸면 \n 안보임(출력 목적이므로)
print(var_01)

    Hello World!
    Good to meet you!

In [54]:
# 쌍따옴표와 홑따옴표의 사용

var_01 = "My father's wife is my mother."
var_02 = 'He says "I love you."'

print(var_01)
print(var_02)

My father's wife is my mother.
He says "I love you."

In [56]:
# 문자열 연산 (덧셈)
var_01 = "Python"
var_02 = "is fun."

print(var_01 + var_02)
print(var_01, var_02)   # ',' 사용 하면 한 칸 띄운다.

Pythonis fun.
Python is fun.

In [57]:
# 문자열 연산(곱셈)
print(var_01 * 3)

PythonPythonPython

In [63]:
var_03 = "="
var_04 = """
Python
"""
print(var_03*15, var_04+var_03*15)

===============
Python
===============

In [74]:
# 문자열 indexing과 Slicing 

str = "abcdefghijklmn"

print(str[0])
print(str[0:3]) #0~3번 전까지 
print(str[-1])  # 제일 마지막
print(str[5:])  # 안 적으면 끝까지
print(str[:5])  # 처음부터 5번까지
print(str[5:-2])    #5번부터 맨 끝자리 4개 전까지

a
abc
n
fghijklmn
abcde
fghijkl

In [82]:
str = "20221229Snow"

print(str[:4],str[4:8],str[8:])

2022 1229 Snow

In [86]:
str = "abbde"
#abcde로 출력
print(str[0:2]+'c'+str[3:])

abcde

---
### 문자열 Formatting

# %s, %d, %f

In [88]:
# 정수형 Formatting
print("I have %d apples."%2)

I have 2 apples.

In [89]:
number = 2
print("I have %d apples."%number)

I have 2 apples.

In [91]:
print("I have %s apples."%"two")

I have two apples.

In [92]:
number = 2
fruit = "apples"
# 소 괄호 안에 있는 데이터 = Tuple(벡터 아님) - 변경 가능 데이터
print("I have %d %s."%(number, fruit))

I have 2 apples.

In [94]:
# 문자열 정렬
print("I have 2 %10s."% "apples")   #우측 정렬
print("I have 2 %-10s."% "apples")  #좌측 정렬

I have 2     apples.
I have 2 apples    .

In [96]:
print("%0.4f"%3.14159)
print("%10.4f"%3.14159)

3.1416
    3.1416

---
### 문자열 관련함수

In [99]:
str = "I have a dream."
print(str.count('a'))
print(len(str)) #character 개수

3
15

In [102]:
print(str.find('e'))    # index 번호 찾기 : 5
print(str.find('x'))    # 없다. : -1

5
-1

In [105]:
str = ","
str.join('abcdefg') #'a,b,c,d,e,f,g'

'a,b,c,d,e,f,g'

In [106]:
str = 'hi'
str.upper() #대문자

'HI'

In [108]:
str = "HI"
str.lower()

'hi'

In [109]:
str = '       hi'
str.lstrip()    #왼쪽 빈칸 지우기

'hi'

In [110]:
str = 'hi          '
str.rstrip()    #오른쪽 빈칸 지우기

'hi'

In [111]:
str = '      hi       '
#str.lstrip().rstrip()
str.strip()

'hi'

In [112]:
str = "Life is too short to be happy."
str.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [113]:
str = "Life is too short to be happy."
list01 = str.split()

In [114]:
list01

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [116]:
type(list01)    #list 타입
list01[0]       #'Life'

'Life'

In [122]:
str02 = 'a:b:c:d'
list02 = str02.split(':')

In [123]:
list02

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [124]:
"I have {0} apples.".format(3)

'I have 3 apples.'

In [125]:
"I have {0} apples.".format("three")

'I have three apples.'

In [126]:
number = 3
"I have {0} apples.".format(number)

'I have 3 apples.'

In [134]:
number = 10
day = 'three'

In [137]:
"I have {0} apples, I will go abroad for {1} days".format(number, day)

'I have 10 apples, I will go abroad for three days'

In [143]:
"{0:<3}".format('hi')   #왼쪽 정렬

'hi  '

In [144]:
"{0:>10}".format('hi')  #오른쪽 정렬

'        hi'

In [146]:
"{0:^10}".format('hi')  #가운데 정렬

'====hi===='

In [147]:
"{0:=^10}".format('hi') #공백 = 기호로 채운다.

'!!!!!!!!hi'

In [148]:
"{0:!>10}".format('hi')

'!!!!!!!!hi'

In [153]:
y = 3.141592
"{0:0.2f}".format(y)

'3.14'

In [156]:
"I need a {0:10.2f} point".format(y)   #오른쪽 정렬

'I need a       3.14 point'

In [157]:
# f :   주의사항! f다음에 띄어쓰기 절대 안됨
name = "홍길동"
age = 30
f'나의 이름은 {name} 이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동 이고 나이는 30세 입니다.'

In [158]:
f'나는 내년이면 {age+1}살 입니다.'

'나는 내년이면 31살 입니다.'

---
### 날짜형 변환

In [159]:
from datetime import datetime, timedelta

In [161]:
time1 = datetime(2022,12,25,21,0,0,0)
print(time1)

2022-12-25 21:00:00

In [162]:
time2 = datetime.now()

In [163]:
print(time2)

2023-01-16 13:58:43.105972

In [164]:
print(time2 - time1)    #날짜 차이(시계열 분석, 시간 범위)

21 days, 16:58:43.105972

In [165]:
print(type(time2))  # 날짜 타입

<class 'datetime.datetime'>

In [167]:
print((time2 - time1).days, '일')   # days 단위만 보여주기

21 일

In [170]:
# timedelta
print(time2 + timedelta(days=5))
print(time2 + timedelta(days=-3))
print(time2 + timedelta(days=1, hours=-2))

2023-01-21 13:58:43.105972
2023-01-13 13:58:43.105972
2023-01-17 11:58:43.105972