In [3]:
var01 = []
var02 = [1,2,3]
var03 = ['I', 'have', 'a', 'dream']
var04 = [1, 2, 'Dream', 'True']
var05 = [1, 2, ['Dream', 'True']]

In [8]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'Dream', 'True']
[1, 2, ['Dream', 'True']]

In [10]:
var05[2][0] #Dream

'Dream'

In [11]:
var02[0]+var02[1]

3

In [13]:
var = [1, 2, ['a', 'b', ['Dream', 'True']]]
var[-1][-1][0]  #Dream

'Dream'

In [17]:
print(var[0:2])
print(var[2:])

[1, 2]
[['a', 'b', ['Dream', 'True']]]

---
### 리스트 연산자

In [18]:
# 리스트의 숫자 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [20]:
# 리스트의 덧셈
sum(var01+var02)

21

In [23]:
for i in range(len(var01)):
    print(var01[i]+var02[i])

5
7
9

In [24]:
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
var01 = ['a','b','c']
var02 = ['d','e','f']
var01 + var02

['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
var01 * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [29]:
var = [1,2,3]
str(var[2]) + 'hi'  #문자열로 변환하기

'3hi'

### 리스트의 수정과 삭제

In [46]:
var = [1,2,3]
var[2] = 4
var     ##문자열은 이렇게 안바뀜(replace로 가능)

[1, 2, 4]

In [33]:
var[1:2] = ['a','b','c']        #1> and  2< (해당 인덱스 포함 안하고 그 다음 자릿수 데이터부터 보면 됨)
var

[1, 'a', 'b', 'c', 4]

In [36]:
#[1, 'c', 4]
var[1:4] = ['c']
#var[1:3] = []
var

[1, 'c', 4]

In [47]:
# 해당 인덱스 번호의 데이터만 지우겠다.(두번째만 지우겠다(1))
del var[1]
var

[1, 4]

In [42]:
var = [1, 2, 3]
var.append([5, 6])  # for문에 자주 사용(데이터 추가하는 용도)-for문 사용하여 데이터 1개씩 더해줌
var

[1, 2, 3, [5, 6]]

In [52]:
# python은 99% list와 index 가 중요하다.
var = [1,4,3,2]     ##dataframe 아님! tuple
print(var)

#오름차순 정렬
var.sort()
print(var)

#내림차순 정렬
var.reverse()
print(var)

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [57]:
var = ['a', 'c', 'b']
print(var)
# 문자열 오름차순 정렬
var.sort()
print(var)

# 문자열 내림차순 정렬
var.reverse()
print(var)

['a', 'c', 'b']
['a', 'b', 'c']
['c', 'b', 'a']

In [60]:
var1 = ['대','한','민','국']
print(var1)

# 한글 오름차순
var1.sort()
print(var1)

# 한글 내림차순
var1.reverse()
print(var1)

['대', '한', '민', '국']
['국', '대', '민', '한']
['한', '민', '대', '국']

In [61]:
### 리스트(데이터)의 위치(index) 정보
var = [4,5,6]
var.index(5)

1

In [65]:
# 리스트의 요소 삽입
var = [1,2,3]
var.insert(0, 4)    #0번지에 4를 넣겠다.
var

[4, 1, 2, 3]

In [67]:
# 리스트의 요소 제거
var = [10, 20, 30]
var.remove(10)  #인덱스 번호가 아니라, 데이터를 보고 지움
var

[20, 30]

In [68]:
# 리스트의 요소 꺼내기
var = [1,2,3]
print(var.pop())        # 3    #pop 하면 제일 마지막 데이터부터 끄집어 내서 보여준다.
print(var)              #[1, 2]

3
[1, 2]

In [69]:
# 리스트의 확장
var = [1,2,3,4]
var.extend([5,6])   #append는 한개씩 넣고, extend는 여러개씩 배열에 데이터들을 넣을 수 있다.
var

[1, 2, 3, 4, 5, 6]

In [70]:
var+[7,8]   #extend 쓰기 싫으면 + 사용!

[1, 2, 3, 4, 5, 6, 7, 8]