### range 함수

- for i in len(배열변수) : 자바식
- for score in scores : 파이썬식

In [2]:
var = range(1, 11)
list(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 0 ~ 10까지의 짝수
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [9]:
# 10 ~ 1까지의 짝수 출력
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [169]:
import math
import numpy as np

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [76]:
#1에서 10까지의 제곱근을 출력하기

for i in list(range(1,11)):
    num1 = i
    sq = math.sqrt(i)
    print("{0:>5} : {1:0.10f}".format(num1, sq))
          
#"{0:>10}".format('hi')
#print("%0.4f"%3.14159)

    1 : 1.0000000000
    2 : 1.4142135624
    3 : 1.7320508076
    4 : 2.0000000000
    5 : 2.2360679775
    6 : 2.4494897428
    7 : 2.6457513111
    8 : 2.8284271247
    9 : 3.0000000000
   10 : 3.1622776602

In [74]:
print("aaaa :", end=" ")    #end = " " : 가로 정렬
print("")   # \n
print("bbbb")

aaaa :
bbbb

In [77]:

for i in list(range(2, 10)):
    for j in list(range(1, 10)):
        gugu = i*j
        print("{0:>2}".format(gugu), end=" ")
    print(" ")

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [78]:
# for 문에 List 사용하기
lists = ['one', 'two', 'three']

for list in lists:
    print(list)

one
two
three

In [80]:
# for문에 Tuple 사용하기 
vars = [(1,2), (3,4), (5,6)]
for first, last in vars:
    print(first, ":", last)

1 : 2
3 : 4
5 : 6

In [95]:
scores = [90, 25, 67, 45, 80]
student = 0

for score in scores:
    student += 1 
    grade = "합격" if score > 60 else "불합격"
    print(f"{student}의 학생은 {score}이므로 {grade} 입니다.")

#합격만 나오게 하기!! -> 아래 했음

1의 학생은 90이므로 합격 입니다.
2의 학생은 25이므로 불합격 입니다.
3의 학생은 67이므로 합격 입니다.
4의 학생은 45이므로 불합격 입니다.
5의 학생은 80이므로 합격 입니다.

In [114]:
scores = [90, 25, 67, 45, 80]
student = 0


avg = np.mean(scores)

print("학급의 평균 점수는 {0:0.2f} 입니다.".format(avg))

while scores:
    student += 1
    score = scores.pop(0)
    grade = "합격" if score > 60 else "불합격"
    print(f"{student}의 학생은 {score}이므로 {grade} 입니다.")

학급의 평균 점수는 61.40 입니다.
1의 학생은 90이므로 합격 입니다.
2의 학생은 25이므로 불합격 입니다.
3의 학생은 67이므로 합격 입니다.
4의 학생은 45이므로 불합격 입니다.
5의 학생은 80이므로 합격 입니다.

In [ ]:
# 리스트를 읽어서 리스트 값에 5를 곱한 새로운 리스트 만들기
# future engineering(특성공학..?)

In [115]:
var01 = [1,2,3,4]
var02 = []

for i in var01:
    var02.append(i*5)
    
print(var02)

[5, 10, 15, 20]

In [ ]:
# 총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고 그렇지 않으면 불합격이다.
# 합격인 학생들의 번호만 새로운 list를 생성하여 출력하기
# 다시 하기

In [149]:
scores = [90, 25, 67, 45, 80]
student = 0
accept = []

while scores:
    student += 1
    score = scores.pop(0)
    grade = "합격" if score > 60 else "불합격"
    if grade == "불합격":
        continue
    print(f"{student}의 학생은 {score}이므로 {grade} 입니다.")
    
    accept.append(student)

1의 학생은 90이므로 합격 입니다.
3의 학생은 67이므로 합격 입니다.
5의 학생은 80이므로 합격 입니다.

In [127]:
var = [1,2,3,4]
var.extend([5,6])   #append는 한개씩 넣고, extend는 여러개씩 배열에 데이터들을 넣을 수 있다.
var

[1, 2, 3, 4, 5, 6]

### 문장과 단어 추출

In [140]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

In [141]:
sents = []
words = []

In [142]:
# 문단 -> 문장
for sen in string.split(sep="\n"):
    sents.append(sen)
    #문장 -> 단어
    for word in sen.split():
        words.append(word)

In [151]:
print('문장 :', sents)
print('문장 수:', len(sents))
print('단어 :', words)
print('단어 수 :', len(words))

문장 : ['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
문장 수: 3
단어 : ['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']
단어 수 : 9

### Python의 Listed For문

In [153]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01]
print(var02)

[5, 10, 15, 20]

In [154]:
var02 = [i * 5 for i in var01 if i % 2 == 0]
print(var02)

[10, 20]

In [163]:
# 구구단 결과만 리스트로 만들기
var03 = [i*j for i in range(2, 10) for j in range(1, 10)]
print(var03)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [172]:
# 60점 이상의 학생 점수만 List로 만들어 평균 구하기
scores = [90, 25, 67, 45, 80]

var04 = [i for i in scores if i > 60]
print(var04)
result = np.mean(var04)
print(f"합격한 점수의 평균은 {result} 입니다.")

[90, 67, 80]
합격한 점수의 평균은 79.0 입니다.