In [81]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [82]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Read Data file

In [83]:
# 데이터 불러오기
df_inf=pd.read_csv("../Data/PCOS_infertility.csv")
df_noinf=pd.read_excel("../Data/PCOS_data_without_infertility.xlsx",sheet_name="Full_new")
df_inf.shape

(541, 6)

In [84]:
df_noinf.shape

(541, 45)

In [85]:
df_inf.head()

,Sl. No,Patient File No.,PCOS (Y/N),I beta-HCG(mIU/mL),II beta-HCG(mIU/mL),AMH(ng/mL)
0,1,10001,0,1.99,1.99,2.07
1,2,10002,0,60.80,1.99,1.53
2,3,10003,1,494.08,494.08,6.63
3,4,10004,0,1.99,1.99,1.22
4,5,10005,0,801.45,801.45,2.26

In [86]:
df_noinf.head()

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 44
0,1,1,0,28,44.6,152.0,19.300000,15,78,22,...,1.0,0,110,80,3,3,18.0,18.0,8.5,NaN
1,2,2,0,36,65.0,161.5,24.921163,15,74,20,...,0.0,0,120,70,3,5,15.0,14.0,3.7,NaN
2,3,3,1,33,68.8,165.0,25.270891,11,72,18,...,1.0,0,120,80,13,15,18.0,20.0,10.0,NaN
3,4,4,0,37,65.0,148.0,29.674945,13,72,20,...,0.0,0,120,70,2,2,15.0,14.0,7.5,NaN
4,5,5,0,25,52.0,161.0,20.060954,11,72,18,...,0.0,0,120,80,3,4,16.0,14.0,7.0,NaN

In [87]:
df_noinf.columns.unique()

Index(['Sl. No', 'Patient File No.', 'PCOS (Y/N)', ' Age (yrs)', 'Weight (Kg)',
       'Height(Cm) ', 'BMI', 'Blood Group', 'Pulse rate(bpm) ',
       'RR (breaths/min)', 'Hb(g/dl)', 'Cycle(R/I)', 'Cycle length(days)',
       'Marraige Status (Yrs)', 'Pregnant(Y/N)', 'No. of aborptions',
       '  I   beta-HCG(mIU/mL)', 'II    beta-HCG(mIU/mL)', 'FSH(mIU/mL)',
       'LH(mIU/mL)', 'FSH/LH', 'Hip(inch)', 'Waist(inch)', 'Waist:Hip Ratio',
       'TSH (mIU/L)', 'AMH(ng/mL)', 'PRL(ng/mL)', 'Vit D3 (ng/mL)',
       'PRG(ng/mL)', 'RBS(mg/dl)', 'Weight gain(Y/N)', 'hair growth(Y/N)',
       'Skin darkening (Y/N)', 'Hair loss(Y/N)', 'Pimples(Y/N)',
       'Fast food (Y/N)', 'Reg.Exercise(Y/N)', 'BP _Systolic (mmHg)',
       'BP _Diastolic (mmHg)', 'Follicle No. (L)', 'Follicle No. (R)',
       'Avg. F size (L) (mm)', 'Avg. F size (R) (mm)', 'Endometrium (mm)',
       'Unnamed: 44'],
      dtype='object')

In [88]:
df_noinf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3    Age (yrs)              541 non-null    int64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    int64
 8   Pulse rate(bpm)         541 non-null    int64
 9   RR (breaths/min)        541 non-null    int64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    int64
 12  Cycle length(days)      541 non-null    int64
 13  Marraige Status (Yrs)   540 non-null    float64
 14  Pregnant(Y/N)           541 non-null    int64
 15  No. of aborptions       541 non-null    int64
 16    I   beta-HCG(mIU/mL)  541 non-null    float64
 17  II    beta-HCG(mIU/mL)  541 non-null    object
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    int64
 22  Waist(inch)             541 non-null    int64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              541 non-null    object
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    int64
 31  hair growth(Y/N)        541 non-null    int64
 32  Skin darkening (Y/N)    541 non-null    int64
 33  Hair loss(Y/N)          541 non-null    int64
 34  Pimples(Y/N)            541 non-null    int64
 35  Fast food (Y/N)         540 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    int64
 37  BP _Systolic (mmHg)     541 non-null    int64
 38  BP _Diastolic (mmHg)    541 non-null    int64
 39  Follicle No. (L)        541 non-null    int64
 40  Follicle No. (R)        541 non-null    int64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
 44  Unnamed: 44             2 non-null      object
dtypes: float64(19), int64(23), object(3)
memory usage: 190.3+ KB

In [89]:
df_noinf['Marraige Status (Yrs)'].unique()

array([ 7. , 11. , 10. ,  4. ,  1. ,  8. ,  2. , 13. ,  3. , 15. ,  9. ,
       20. ,  6. , 12. ,  5. ,  3.5, 17. ,  2.5,  1.5, 16. , 18. ,  0. ,
       22. , 19. , 14. ,  4.5, 30. ,  6.5,  8.5, 25. ,  7.5, 24. , 23. ,
        2.2,  nan])

In [90]:
df_noinf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3    Age (yrs)              541 non-null    int64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    int64
 8   Pulse rate(bpm)         541 non-null    int64
 9   RR (breaths/min)        541 non-null    int64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    int64
 12  Cycle length(days)      541 non-null    int64
 13  Marraige Status (Yrs)   540 non-null    float64
 14  Pregnant(Y/N)           541 non-null    int64
 15  No. of aborptions       541 non-null    int64
 16    I   beta-HCG(mIU/mL)  541 non-null    float64
 17  II    beta-HCG(mIU/mL)  541 non-null    object
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    int64
 22  Waist(inch)             541 non-null    int64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              541 non-null    object
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    int64
 31  hair growth(Y/N)        541 non-null    int64
 32  Skin darkening (Y/N)    541 non-null    int64
 33  Hair loss(Y/N)          541 non-null    int64
 34  Pimples(Y/N)            541 non-null    int64
 35  Fast food (Y/N)         540 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    int64
 37  BP _Systolic (mmHg)     541 non-null    int64
 38  BP _Diastolic (mmHg)    541 non-null    int64
 39  Follicle No. (L)        541 non-null    int64
 40  Follicle No. (R)        541 non-null    int64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
 44  Unnamed: 44             2 non-null      object
dtypes: float64(19), int64(23), object(3)
memory usage: 190.3+ KB

### Feature Selection

In [91]:
# Feature, Target
data = df_noinf[[' Age (yrs)','Weight (Kg)','Height(Cm) ','BMI']].to_numpy()
target = df_noinf['PCOS (Y/N)'].to_numpy()

In [92]:
# Train, Test
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = \
    train_test_split(data, target, test_size=0.2, random_state=42)

In [93]:
print("Train : ", train_input.shape)
print("Test : ", test_input.shape)

Train :  (432, 4)
Test :  (109, 4)

In [94]:
# 정규화
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(train_input)

train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [95]:
# 로지스틱 회귀 모델
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train_scaled, train_target)

print("Train Score : ", lr.score(train_scaled, train_target))
print("Test Score : ", lr.score(test_scaled, test_target))

Train Score :  0.6875
Test Score :  0.6880733944954128

___
### 사용할 수 있는 컬럼가지고 df 만들기

In [96]:
ft_col = df_noinf[['PCOS (Y/N)',' Age (yrs)','Weight (Kg)','Height(Cm) ', 'BMI', 'Blood Group', 
            'Pulse rate(bpm) ','Cycle length(days)','Marraige Status (Yrs)','Pregnant(Y/N)',
            'No. of aborptions','Hip(inch)','Waist(inch)','Waist:Hip Ratio','Weight gain(Y/N)','hair growth(Y/N)',
            'Skin darkening (Y/N)', 'Hair loss(Y/N)','Pimples(Y/N)','Fast food (Y/N)','Reg.Exercise(Y/N)','BP _Systolic (mmHg)','BP _Diastolic (mmHg)']]
ft_col.head()

,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),Cycle length(days),Marraige Status (Yrs),Pregnant(Y/N),...,Waist:Hip Ratio,Weight gain(Y/N),hair growth(Y/N),Skin darkening (Y/N),Hair loss(Y/N),Pimples(Y/N),Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg)
0,0,28,44.6,152.0,19.300000,15,78,5,7.0,0,...,0.833333,0,0,0,0,0,1.0,0,110,80
1,0,36,65.0,161.5,24.921163,15,74,5,11.0,1,...,0.842105,0,0,0,0,0,0.0,0,120,70
2,1,33,68.8,165.0,25.270891,11,72,5,10.0,1,...,0.900000,0,0,0,1,1,1.0,0,120,80
3,0,37,65.0,148.0,29.674945,13,72,5,4.0,0,...,0.857143,0,0,0,0,0,0.0,0,120,70
4,0,25,52.0,161.0,20.060954,11,72,5,1.0,1,...,0.810811,0,0,0,1,0,0.0,0,120,80

In [97]:
ft_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PCOS (Y/N)             541 non-null    int64
 1    Age (yrs)             541 non-null    int64
 2   Weight (Kg)            541 non-null    float64
 3   Height(Cm)             541 non-null    float64
 4   BMI                    541 non-null    float64
 5   Blood Group            541 non-null    int64
 6   Pulse rate(bpm)        541 non-null    int64
 7   Cycle length(days)     541 non-null    int64
 8   Marraige Status (Yrs)  540 non-null    float64
 9   Pregnant(Y/N)          541 non-null    int64
 10  No. of aborptions      541 non-null    int64
 11  Hip(inch)              541 non-null    int64
 12  Waist(inch)            541 non-null    int64
 13  Waist:Hip Ratio        541 non-null    float64
 14  Weight gain(Y/N)       541 non-null    int64
 15  hair growth(Y/N)       541 non-null    int64
 16  Skin darkening (Y/N)   541 non-null    int64
 17  Hair loss(Y/N)         541 non-null    int64
 18  Pimples(Y/N)           541 non-null    int64
 19  Fast food (Y/N)        540 non-null    float64
 20  Reg.Exercise(Y/N)      541 non-null    int64
 21  BP _Systolic (mmHg)    541 non-null    int64
 22  BP _Diastolic (mmHg)   541 non-null    int64
dtypes: float64(6), int64(17)
memory usage: 97.3 KB

In [98]:
ft_col=ft_col.astype('float')

In [99]:
ft_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PCOS (Y/N)             541 non-null    float64
 1    Age (yrs)             541 non-null    float64
 2   Weight (Kg)            541 non-null    float64
 3   Height(Cm)             541 non-null    float64
 4   BMI                    541 non-null    float64
 5   Blood Group            541 non-null    float64
 6   Pulse rate(bpm)        541 non-null    float64
 7   Cycle length(days)     541 non-null    float64
 8   Marraige Status (Yrs)  540 non-null    float64
 9   Pregnant(Y/N)          541 non-null    float64
 10  No. of aborptions      541 non-null    float64
 11  Hip(inch)              541 non-null    float64
 12  Waist(inch)            541 non-null    float64
 13  Waist:Hip Ratio        541 non-null    float64
 14  Weight gain(Y/N)       541 non-null    float64
 15  hair growth(Y/N)       541 non-null    float64
 16  Skin darkening (Y/N)   541 non-null    float64
 17  Hair loss(Y/N)         541 non-null    float64
 18  Pimples(Y/N)           541 non-null    float64
 19  Fast food (Y/N)        540 non-null    float64
 20  Reg.Exercise(Y/N)      541 non-null    float64
 21  BP _Systolic (mmHg)    541 non-null    float64
 22  BP _Diastolic (mmHg)   541 non-null    float64
dtypes: float64(23)
memory usage: 97.3 KB

In [100]:
for x in ft_col.columns[ft_col.isna().any()].tolist():
    ft_col[x] = ft_col[x].fillna(ft_col[x].median())

In [101]:
# Feature, Target
data = ft_col.iloc[:,1:].to_numpy()
target = ft_col['PCOS (Y/N)'].to_numpy()

In [102]:
# Train, Test
train_input, test_input, train_target, test_target = \
    train_test_split(data, target, test_size=0.2, random_state=42)

In [103]:
ss = StandardScaler()
ss.fit(train_input)

train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [104]:
lr = LogisticRegression()
lr.fit(train_scaled, train_target)

print("Train Score : ", lr.score(train_scaled, train_target))
print("Test Score : ", lr.score(test_scaled, test_target))

Train Score :  0.8472222222222222
Test Score :  0.8715596330275229

___
### Random Forest

In [105]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

clf.fit(train_input, train_target)
print('train score: ',clf.score(train_input, train_target))
print('test score:', clf.score(test_input, test_target))

train score:  1.0
test score: 0.8073394495412844

In [106]:
clf = RandomForestClassifier()
clf.fit(train_scaled, train_target)
print('train score: ',clf.score(train_scaled, train_target))
print('test score:', clf.score(test_scaled, test_target))

train score:  1.0
test score: 0.8348623853211009

### SVM

In [107]:
from sklearn import svm
clf = svm.SVC()
clf.fit(train_input, train_target)
print('train score: ',clf.score(train_input, train_target))
print('test score:', clf.score(test_input, test_target))

train score:  0.6643518518518519
test score: 0.7064220183486238

In [108]:
clf = svm.SVC()
clf.fit(train_scaled, train_target)
print('train score: ',clf.score(train_scaled, train_target))
print('test score:', clf.score(test_scaled, test_target))

train score:  0.9097222222222222
test score: 0.8440366972477065

### KNN

In [109]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
clf.fit(train_input, train_target)
print('train score: ',clf.score(train_input, train_target))
print('test score:', clf.score(test_input, test_target))

train score:  0.7546296296296297
test score: 0.6788990825688074

In [110]:
clf = KNeighborsClassifier()
clf.fit(train_scaled, train_target)
print('train score: ',clf.score(train_scaled, train_target))
print('test score:', clf.score(test_scaled, test_target))

train score:  0.8495370370370371
test score: 0.8623853211009175

### Navie Bayes

In [111]:
# Naive Bayes
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(train_input, train_target)
print('train score: ',clf.score(train_input, train_target))
print('test score:', clf.score(test_input, test_target))

train score:  0.8125
test score: 0.8623853211009175

In [112]:
clf = GaussianNB()
clf.fit(train_scaled, train_target)
print('train score: ',clf.score(train_scaled, train_target))
print('test score:', clf.score(test_scaled, test_target))

train score:  0.8125
test score: 0.8623853211009175

In [113]:
# 과소가 되면 컬럼늘려야함 (차원확대?)
# 이것이 과대적합이 나오면, Lasso? ridge 규제

# valiedate 만들어야함. 5%이상 
# target 현재 0,1데이터이지만, 예측력을 보고 Regression을 들어가야하고, 교차검증(cross validation)을 해야한다.

### CSV로 저장

In [119]:
ft_col.to_csv('../Data/pcos.csv', index=False)

___
### Grid Search 를 이용한 Hyper Parameter 찾기

In [122]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
params = {'min_impurity_decrease':[0.0001, 0.0002, 0.0003, 0.0004, 0.0005]}

In [123]:
gs = GridSearchCV(DecisionTreeClassifier(random_state=42), params, n_jobs=-1)

In [135]:
gs.fit(train_input, train_target)

GridSearchCV(estimator=DecisionTreeClassifier(random_state=42), n_jobs=-1,
             param_grid={'min_impurity_decrease': [0.0001, 0.0002, 0.0003,
                                                   0.0004, 0.0005]})

In [136]:
dt = gs.best_estimator_
print(dt.score(train_input, train_target))

1.0

In [137]:
gs.best_params_

{'min_impurity_decrease': 0.0001}

In [138]:
# 교차 검증
gs.cv_results_['mean_test_score'] # 요놈들의 평균값을 쓰는것이 진짜 점수임

array([0.70374231, 0.70374231, 0.70374231, 0.70374231, 0.70374231])